{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        body{
            background: transparent url("{% static 'img/Dark-Grey-Marble-Stone-Backgro.png'%}") 0% 0% repeat padding-box;
            opacity: 1;
        }
    </style>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>