<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Introduction</h2>

    <p>
        Schools and Colleges are great!(?), but many (read: most) times they fail to teach us skills needed 
        to survive in the real world. Pardon my ignorance, but I am yet to hear a successful person crediting 
        his success to writing assignments and mugging up datelines of Mughal history or a Mughal King 
        building an Empire mugging up his teacher’s notes one day before a war, for that matter! So, with 
        this thought here we bring to you an interesting series “What they don’t teach you in Classrooms!” 
        From Financial management to Self-Grooming we bring you all the stuff needed to lead an independent 
        practical life. Gear up guys, because we assure to make this an out of the world, or shall we say 
        an out-of-the-classroom experience for you all!
    </p>

    <h2>
        Article 1: Invest Early, Secure your Financial Future/Money Matters!/Money doesn’t grow on trees.
    </h2>

    <p>
        <q> 
            <i>
                Na biwi na bacha na baap bada na maiya
                The whole thing is that ke bhaiya sabse bada rupaiya
            </i>
        </q>
        
        These lyrics of a famous old hindi song penned down by the great Majrooh Sultanpuri, try enunciating 
        the fact that there is nothing greater in this world than money. Well, some people may find it rather 
        shallow and let’s not take the lyrics literally; but we can’t deny the fact that money plays a crucial 
        role in the life of a person and thus comes the importance of financial management and investments. 
        Just like there’s no pill which can cure a person of an illness caused by his years of negligence 
        towards his health; there isn’t one to suddenly make you rich overnight when the only verb you have 
        been using with the word money is “spending” either.
    </p>

    <p>
        You may wonder, as students, as to how, where or when can we invest especially with no fixed income 
        source. Well do not worry we have got you covered! No, we won’t pay for you! Instead we are asking 
        you to pay (long pause)... some attention of course as we go on answering your questions. <br>
        So go on, give it a read, investing some time here will definitely pay some good returns and 
        guess what it won’t cost you a dime! Now, that’s a good investment! 
    </p>

    <h4>
        WHY TO INVEST AS STUDENTS?
    </h4>

    <p>
        Because an early bird catches some real cool worms and you need worms to eat and live and sustain! 
        Really, it’s as simple as that. Warren Buffet (he is a famous guy, Google him if you don’t know. And 
        he’s rich ofcourse) himself started investing at an early age of 19. World is suffering, yes actually 
        suffering, from the ‘problem’ of longevity. “Ayushyaman Bhav” isn’t a blessing anymore. The reason is, 
        you may live long but will you be wealthy and healthy throughout the course of it? Well, it depends on 
        how early and how well you start taking care of these two things. All heroes don’t wear capes and 
        compound interest is one such hero in disguise! Yes, the same topic which we learned in 7th, forgot 
        in 8th and dreaded for most part of it. You can use its compounding powers to invest and reinvest your 
        interest earned on that money money and watch it grow, just like the population does. Compounding is 
        very essential as far as investments are concerned and as the term for the number of years is as raised 
        to the formula, the more the years, the better. 
    </p>

    <h4>WHERE TO INVEST AS STUDENTS?</h4>
    <p>
        Now that we have convinced you to start early, let us also tell you about some low-risk and 
        safe investment options for you all. Consider it as your food preferences and then let’s look at 
        what they mean. 

        <ol>
            <li>
                <b>Recurring Deposit (RD):</b> 
                Well, this RD is your good ol’ dal chawal! Nothing fancy, Something you cook regularly, 
                will definitely satiate your basic appetite and will not go wrong! It’s safe guys! On a 
                serious note, RD allows you to make regular monthly deposits and earn interest on investment. 
                It is offered by banks. The minimum amount and interest varies from bank to bank. Minimum 
                amount can be as low as Rs. 100 and interest can be from 5% to 8%. The key drawback is that 
                RD is not tax efficient.  
            </li>

            <li>
                <b>Public Provident Fund (PPF):</b>
                A person should age like fine wine they say, but PPF is that wine you wanna age with. 
                PPF, just like wine, is better when older and if you hurry you won’t get the taste at all. 
                Moreover, this wine gets you tax exemptions! PPF is a long term investment option since it 
                has a lock-in period of 15 years which can be extended for more blocks of 5 years. It is backed 
                by the Government of India, offering safety and full exemption from Tax. The interest rate is 
                determined by the Central Government, revised periodically. The minimum amount is Rs. 500 and 
                the maximum amount is Rs. 1,50,000 per annum.
            </li>

            <li>
                <b>Systematic Investment Plan (SIP) in Mutual Funds:</b>
                Well, this is like an assorted box of chocolates which you can’t buy alone with your 
                pocket-money so a group of people contribute to and buy it. However the chocolates you get 
                are in proportion to the money you chip in. You may not always like the chocolates you get in 
                return so there’s some risk involved. This is essentially what mutual funds are. <br>
                SIP allows you to invest regularly a fixed sum (of your choice) in mutual fund schemes. The 
                fixed amount of money can be as low as Rs. 500. SIP is a mode of investment, the risk factor 
                depends on the mutual fund scheme you choose to invest in, hence it is important to thoroughly study the 
                scheme you plan to invest before putting in any money. 
            </li>

            <li>
                <b>Education and Skills:</b> 
                You need to know what to eat when similarly you need to know when to invest in what and how 
                much. Well, continuing our food analogy this isn’t a piece of cake and what you need is proper 
                knowledge, education and skills. As Benjamin Franklin rightly said, <q>An Investment in Knowledge 
                pays the best interest.</q>
            </li>
        </ol>
    </p>

    <h4>HOW TO INVEST AS STUDENTS:</h4>

    <p>
        <ol>
            <li>
                Invest in a medical insurance irrespective of your age.
            </li>

            <li>
                If you have to keep a certain amount of finances as back-up keep it in a bank as an RD or FD. 
                The money may not grow much but the principal amount will stay safe and intact.
            </li>

            <li>
                In case of high risk investments like in those of shares, invest in index funds rather than 
                actively managed funds. ‘Index’ are the top 30 companies of the market and investments 
                there have less chances to go wrong.
            </li>
        
        </ol>
    </p>

    <p>
        So folks, we hope we atleast could give you a direction to your thought process. It’s a continuous 
        process and as said initially there exists no pill for it so start somewhere, keep going and a secure 
        future awaits you all!
    </p>
</body>
</html>