<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>BOOK/MOVIE REVIEW:</h2>

    <p>
        Akutagawa Ryūnosuke was one of the first prewar Japanese writers to achieve a wide foreign readership, 
        partly because of his technical virtuosity, partly because his work seemed to represent imaginative 
        fiction as opposed to the mundane accounts of the I-novelists of the time, partly because of his 
        brilliant joining of traditional material to a modern sensibility, and partly because of film director 
        Kurosawa Akira's masterful adaptation of two of his short stories for the screen.
    </p>

    <p>
        “In a Grove” is an early modernist short story by Ryūnosuke Akutagawa which first appeared in the 
        January 1922 edition of Japanese literature monthly “Shincho”. The story starts off as a murder mystery, 
        the murder of a samurai, Takehiro, whose dead body is found in the bamboo groves near Kyoto. The story has 
        three main characters, the samurai Takehiro, the samurai’s wife Masago, and a notorious bandit Tajomaru. 
        The Samurai’s murder is reported by a woodcutter that triggers the investigation. The story is the form of 
        testimonies of people involved. Throughout the story, when the readers were busy inspecting the details to 
        find the murderer, with no proper explanation of the deed, the author subtly answers the question. 
        But should that even be the question? What is the underlying message of the story? Without giving away 
        much we recommend you to devour this classic masterpiece of a short story which is not more than a 
        20 minutes read and find the answer or rather the correct question yourself!
    </p>

    <p>
        The biggest, most important beast to come out of Japanese cinema was Rashomon, a 1950 drama set in the 
        samurai era. It’s a 1950 Jidaigeki psychological thriller/crime film directed by Akira Kurosawa, working 
        in close collaboration with cinematographer Kazuo Miyagawa. <br>
        Adapted from the story of ‘In a Grove’ with few minor tweaks here and there, the plot of the movie 
        goes back to the 8th century and takes place in Rashomon, the gate of Kyoto, the then imperial city, 
        ruined by warfare. This movie ingeniously enacts the complexities of human nature by exploring the 
        story from different narratives. By adding a narrative of the woodcutter, we get a gist of how everyone 
        wants to be portrayed in a positive light! But now, the question arises, was the woodcutter telling the 
        truth? Kurosawa once said, “Rashomon is a reflection of life and that life does not have a clear 
        meaning!” Its brilliant cinematography and multiple-perspective storytelling are what make this movie 
        truly a masterpiece! Rife with symbolism and rich in action, this movie definitely leaves ‘food for 
        thought’ for the audience. 

    </p>
</body>
</html>