{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>The Spark Within: Exploring the “funda” of Engineering!</h2>
    
    <p>
        Do you remember the joy of discovery as a kid standing near a refrigerator and slowly closing its door 
        to see how the light of the refrigerator automatically switches off? At that time, 
        we didn’t realize it, but we were looking at a problem as an Engineer!
    </p>

    <p>
        But what happens to these prospective engineers when they “grow up?” Do they disappear? 
        Where are the cool engineers who could build a “chappati maker” for my mother or a dishwasher to 
        save us from the tyranny of “bais?” Where? Why are we not able to find these prospective engineers 
        in the world around us or indeed in ourselves?
    </p>

    <p>
        The answer to this is that we have not yet completely understood what Engineering is all about! 
        We know that  Engineering is about making huge machinery, buildings, roads, and robots. But what 
        we don’t know is the building blocks or atoms of these big miracles! And it's the same in the case 
        of the technologies or methodologies that we use today. We know what that technology is, but we 
        don’t know how to use it to solve real problems faced by you and me!
    </p>

    <p>
        For instance, we as engineering students of the present era know that the current “Make in India” 
        wave demands engineering in the service of People and Society. Artificial Intelligence along with 
        the Internet of Things is moving the world from technology “out there” in papers and thick books 
        to technology “inside” our lives enabling new possibilities through diminutive slim mobile phones. 
        Machine Learning, the next great engineering discipline, is putting minds and the ability to think 
        and learn inside machines and hence popularising our interaction with machines! The good thing is 
        that we all know a lot superficially about these topics and the bad thing is that we actually 
        don’t know what's “under the hood” so that we may build these wonderful devices ourselves! 
        Leaves us all a bit confused - No?
    </p>

    <p>
        Our technical section takes us to the roots of wide-ranging technologies widely used by us. 
        Through this newsletter, we want to completely take off the hood covering the magic of technology 
        and help you become the New Age technology wizards that our country and the world needs today. More 
        important is that we wish to explore the idea of “ethical engineering” or our role in making a 
        difference in society through our powers as young engineers. So join us in this exciting adventure 
        of exploring the wizardry of technology.
    </p>
</body>
</html>