{% extends 'edition_1_2021/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <nav>
        <ul>
            <li>
                <a href="#tech"><img class ="image" src="https://cdn3.iconfinder.com/data/icons/artificial-intelligence-1-4/48/8-128.png"></a>
            </li>
            <li>
                <a href="#innovation"><img class ="image" src="https://cdn4.iconfinder.com/data/icons/business-concepts-volume-1/48/25_creative_thinking_thoughts_ideas_brain_mind_development_power-128.png"></a>
            </li>
           <li>
               <a href="#KaviKorner"><img class ="image" src="https://cdn.iconscout.com/icon/premium/png-64-thumb/coffee-2815397-2336039.png"></a>
            </li>
            <li>
                <a href="#non-tech">  <img class ="image" src="https://cdn3.iconfinder.com/data/icons/e-commerce-and-online-shopping/64/__statistics-128.png"> </a>
            </li>
            <li>
                <a href="#literature"><img class ="image" src="https://cdn1.iconfinder.com/data/icons/fairy-tale-7/48/fairy_tale_pixel_perfect_icons_20-storytelling-128.png"></a>
            </li>
        </ul>
    </nav>	
    <!-- ====================Technical section============================= -->
    <section id="tech"> 
        <div class="row">
            <div class="col-xs-12"><h2>Technical Section</h2></div>
        </div>
        <div class="row">
            <div class="col-xs-12"><h2>The Spark Within: Exploring the “funda” of Engineering!</h2></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    Do you remember the joy of discovery as a kid standing near a refrigerator and slowly closing its door 
                    to see how the light of the refrigerator automatically switches off? At that time, 
                    we didn’t realize it, but we were looking at a problem as an Engineer!
                </p>
            
                <p>
                    But what happens to these prospective engineers when they “grow up?” Do they disappear? 
                    Where are the cool engineers who could build a “chappati maker” for my mother or a dishwasher to 
                    save us from the tyranny of “bais?” Where? Why are we not able to find these prospective engineers 
                    in the world around us or indeed in ourselves?
                </p>
            
                <p>
                    The answer to this is that we have not yet completely understood what Engineering is all about! 
                    We know that  Engineering is about making huge machinery, buildings, roads, and robots. But what 
                    we don’t know is the building blocks or atoms of these big miracles! And it's the same in the case 
                    of the technologies or methodologies that we use today. We know what that technology is, but we 
                    don’t know how to use it to solve real problems faced by you and me!
                </p>

                <!-- div for roti maker image -->
                <div class="rotimakercontainerdiv">
                    <object data="{% static 'img/RotiMakerfinal.svg' %}" type="image/svg+xml" id="rotimaker"></object>
                </div>
            </div>
            
            <div class="col-md-6">
                <!-- div for fridge gif -->
                <div class="fridgecontainerdiv">
                    <object data="{% static 'img/frame_1.svg' %}" type="image/svg+xml" id="frame_1"></object>
                    <object data="{% static 'img/frame_2.svg' %}" type="image/svg+xml" id="frame_2"></object>
                    <object data="{% static 'img/frame_3.svg' %}" type="image/svg+xml" id="frame_3"></object>
                    <object data="{% static 'img/frame_4.svg' %}" type="image/svg+xml" id="frame_4"></object>
                    <object data="{% static 'img/frame_5.svg' %}" type="image/svg+xml" id="frame_5"></object>
                    <object data="{% static 'img/frame_3.svg' %}" type="image/svg+xml" id="frame_6"></object>
                    <object data="{% static 'img/frame_1.svg' %}" type="image/svg+xml" id="frame_7"></object>
                </div>

                <p>
                    For instance, we as engineering students of the present era know that the current “Make in India” 
                    wave demands engineering in the service of People and Society. Artificial Intelligence along with 
                    the Internet of Things is moving the world from technology “out there” in papers and thick books 
                    to technology “inside” our lives enabling new possibilities through diminutive slim mobile phones. 
                    Machine Learning, the next great engineering discipline, is putting minds and the ability to think 
                    and learn inside machines and hence popularising our interaction with machines! The good thing is 
                    that we all know a lot superficially about these topics and the bad thing is that we actually 
                    don’t know what's “under the hood” so that we may build these wonderful devices ourselves! 
                    Leaves us all a bit confused - No?
                </p>
            
                <p>
                    Our technical section takes us to the roots of wide-ranging technologies widely used by us. 
                    Through this newsletter, we want to completely take off the hood covering the magic of technology 
                    and help you become the New Age technology wizards that our country and the world needs today. More 
                    important is that we wish to explore the idea of “ethical engineering” or our role in making a 
                    difference in society through our powers as young engineers. So join us in this exciting adventure 
                    of exploring the wizardry of technology.
                </p>

            </div>
        </div>
    </section>

    <!-- ====================Regional innovation section============================= -->
    <section id="innovation">
        <div class="row">
            <div class="col-xs-12"><h2>Regional Innovations Article: Next-Gen Vision Kit</h2></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    Today, as we speak, more than 350 million people worldwide are partially sighted or blind. 
                    A further billion more have, reading difficulties and fatigue. With the loss of vision there come 
                    several other obstacles and challenges in our lives. Wouldn’t it be great, if these visually 
                    challenged people have a 24x7 assistant with them, to aid them with their daily tasks? 
                    With this problem statement in mind, this team of four from Delhi decided to develop the- 
                    ‘Next-Gen Vision Kit’, a personal assistant for the visually impaired.
                </p>

                <p>
                    They did not want to develop just a project but wished to create a difference in the lives of the 
                    visually impaired, by making them more confident and self-sufficient.  <br>
                    They have implemented a standalone wearable device that can be worn as headgear and will provide 
                    the person with all the important features that are needed very often via an integrated button 
                    interface and voice commands. 
                </p>

                <p>
                    Their project consists of these 5 main features:
                    <ul>
                        <li>Object Detection. </li>
                        <li>Face recognition.</li>
                        <li>Navigation and Routing.</li>
                        <li>Text recognition.</li>
                        <li>Walking mode.</li>
                    </ul>
                </p>
                
            </div>
            <div class="col-md-6">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/b42p8QWwkVI"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    In the making, the team was keen on using open-source software to make the product not just affordable 
                    but also easy to use and secure. The team, being inspired by the ideology of Atma Nirbhar electronics, 
                    is now working on their own single-board computer with enhanced processing power. Vaibhav Singh and team 
                    head while talking about this further quotes Alan Kay, while saying that, 
                    <q>
                        People who are really serious about software should build their own hardware.
                    </q>
                    The difference between developing a mere project and creating a market-ready product lies in 
                    the approach. By addressing a real-world problem of the visually impaired and providing a 
                    technological solution for it the team members have shown us the real meaning of being engineers. 
                </p>
            
                <p>
                    e-Yantra recognized these efforts by awarding them the ‘Best Project Implementation’ award in this 
                    year’s eYIC. Kudos to this team and their wonderful thought process!
                </p>
            
                <p>
                    <i>
                        We hope this inspires you, readers, to create something similar of your own and if you or 
                        anyone you know already have then, do write to us and we would love to publish such 
                        Regional Innovations in this Newsletter!
                    </i>
                </p>
            </div>
            <div class="col-md-6">
                <div class="regional">
                    <img src="{% static 'img/Regionalinnovation2.jpg' %}">
                </div>
            </div>
        </div>
    </section>
    <!-- =====================Kavi's Corner========================== -->
    <section id="KaviKorner"> 
        <div class="row">
            <div class="col-xs-12"><h2>Kavi’s Korner</h2></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Kavi’s Korner is a weekly show by e-Yantra, which aims to empower engineering students with 
                    the belief that they can be innovators and to help them grow in their journey forward.
                </p>
                <p>
                    Check out the latest Episodes of Kavi’s Korner to Know and Grow! 
                    <br> <br>PS: Don't forget to Subscribe!
                </p>
            </div>   
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="KaviKornerHead">Building Beautiful Systems</h4>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/4pJwsNHelss"></iframe>
                
                <p>
                    Codes and systems are written by almost all engineers but are they beautiful? Are 
                    they robust? It is no surprise that beauty and reliability are the most desirable 
                    facets of any system. Watch on as Prof. Sriram gives a glimpse of multi-versioned 
                    states in real systems, on how even elementary changes can result in radical effects. 
                </p>
            </div>

            <div class="col-md-6">
                <h4 class="KaviKornerHead">Conversation with e-Yantra Domain Experts</h4>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/eGSeSRaXNvY"></iframe>
                
                <p>
                    Meet the esteemed trio of e-Yantra domain specialists as together they bring to the 
                    table their insights on Entrepreneurship, Geographic Information System Mappings, and 
                    Disaster Management, along with its scope and importance in developing our country. 
                    Know what is sought in young engineers by the companies from the experts themselves! 
                </p>
            </div>
        </div>   
    </section>
    <!-- ====================Non technical section============================= -->
    <section id="non-tech"> 
        <div class="row">
            <div class="col-xs-12"><h2>Non Technical Section</h2></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Introduction</h2>
                <p>
                    Schools and Colleges are great!(?), but many (read: most) times they fail to teach us skills needed 
                    to survive in the real world. Pardon my ignorance, but I am yet to hear a successful person crediting 
                    his success to writing assignments and mugging up datelines of Mughal history or a Mughal King 
                    building an Empire mugging up his teacher’s notes one day before a war, for that matter! So, with 
                    this thought here we bring to you an interesting series “What they don’t teach you in Classrooms!” 
                    From Financial management to Self-Grooming we bring you all the stuff needed to lead an independent 
                    practical life. Gear up guys, because we assure to make this an out of the world, or shall we say 
                    an out-of-the-classroom experience for you all!
                </p>
                <h2>
                    Article 1: Invest Early, Secure your Financial Future/Money Matters!/Money doesn’t grow on trees.
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <q> 
                        <i>
                            Na biwi na bacha na baap bada na maiya
                            The whole thing is that ke bhaiya sabse bada rupaiya
                        </i>
                    </q>
                    
                    These lyrics of a famous old hindi song penned down by the great Majrooh Sultanpuri, try enunciating 
                    the fact that there is nothing greater in this world than money. Well, some people may find it rather 
                    shallow and let’s not take the lyrics literally; but we can’t deny the fact that money plays a crucial 
                    role in the life of a person and thus comes the importance of financial management and investments. 
                    Just like there’s no pill which can cure a person of an illness caused by his years of negligence 
                    towards his health; there isn’t one to suddenly make you rich overnight when the only verb you have 
                    been using with the word money is “spending” either.
                </p>
                <p>
                    You may wonder, as students, as to how, where or when can we invest especially with no fixed income 
                    source. Well do not worry we have got you covered! No, we won’t pay for you! Instead we are asking 
                    you to pay (long pause)... some attention of course as we go on answering your questions. <br>
                    So go on, give it a read, investing some time here will definitely pay some good returns and 
                    guess what it won’t cost you a dime! Now, that’s a good investment! 
                </p>
                <!-- To add images here -->
            </div>
            <div class="col-md-6">
                <h4>
                    WHY TO INVEST AS STUDENTS?
                </h4>
            
                <p>
                    Because an early bird catches some real cool worms and you need worms to eat and live and sustain! 
                    Really, it’s as simple as that. Warren Buffet (he is a famous guy, Google him if you don’t know. And 
                    he’s rich ofcourse) himself started investing at an early age of 19. World is suffering, yes actually 
                    suffering, from the ‘problem’ of longevity. “Ayushyaman Bhav” isn’t a blessing anymore. The reason is, 
                    you may live long but will you be wealthy and healthy throughout the course of it? Well, it depends on 
                    how early and how well you start taking care of these two things. All heroes don’t wear capes and 
                    compound interest is one such hero in disguise! Yes, the same topic which we learned in 7th, forgot 
                    in 8th and dreaded for most part of it. You can use its compounding powers to invest and reinvest your 
                    interest earned on that money money and watch it grow, just like the population does. Compounding is 
                    very essential as far as investments are concerned and as the term for the number of years is as raised 
                    to the formula, the more the years, the better. 
                </p>
            
                <h4>WHERE TO INVEST AS STUDENTS?</h4>
                <p>
                    Now that we have convinced you to start early, let us also tell you about some low-risk and 
                    safe investment options for you all. Consider it as your food preferences and then let’s look at 
                    what they mean. 
            
                    <ol>
                        <li>
                            <b>Recurring Deposit (RD):</b> 
                            Well, this RD is your good ol’ dal chawal! Nothing fancy, Something you cook regularly, 
                            will definitely satiate your basic appetite and will not go wrong! It’s safe guys! On a 
                            serious note, RD allows you to make regular monthly deposits and earn interest on investment. 
                            It is offered by banks. The minimum amount and interest varies from bank to bank. Minimum 
                            amount can be as low as Rs. 100 and interest can be from 5% to 8%. The key drawback is that 
                            RD is not tax efficient.  
                        </li>
            
                        <li>
                            <b>Public Provident Fund (PPF):</b>
                            A person should age like fine wine they say, but PPF is that wine you wanna age with. 
                            PPF, just like wine, is better when older and if you hurry you won’t get the taste at all. 
                            Moreover, this wine gets you tax exemptions! PPF is a long term investment option since it 
                            has a lock-in period of 15 years which can be extended for more blocks of 5 years. It is backed 
                            by the Government of India, offering safety and full exemption from Tax. The interest rate is 
                            determined by the Central Government, revised periodically. The minimum amount is Rs. 500 and 
                            the maximum amount is Rs. 1,50,000 per annum.
                        </li>
            
                        <li>
                            <b>Systematic Investment Plan (SIP) in Mutual Funds:</b>
                            Well, this is like an assorted box of chocolates which you can’t buy alone with your 
                            pocket-money so a group of people contribute to and buy it. However the chocolates you get 
                            are in proportion to the money you chip in. You may not always like the chocolates you get in 
                            return so there’s some risk involved. This is essentially what mutual funds are. <br>
                            SIP allows you to invest regularly a fixed sum (of your choice) in mutual fund schemes. The 
                            fixed amount of money can be as low as Rs. 500. SIP is a mode of investment, the risk factor 
                            depends on the mutual fund scheme you choose to invest in, hence it is important to thoroughly study the 
                            scheme you plan to invest before putting in any money. 
                        </li>
            
                        <li>
                            <b>Education and Skills:</b> 
                            You need to know what to eat when similarly you need to know when to invest in what and how 
                            much. Well, continuing our food analogy this isn’t a piece of cake and what you need is proper 
                            knowledge, education and skills. As Benjamin Franklin rightly said, <q>An Investment in Knowledge 
                            pays the best interest.</q>
                        </li>
                    </ol>
                </p>
            
                <h4>HOW TO INVEST AS STUDENTS:</h4>
            
                <p>
                    <ol>
                        <li>
                            Invest in a medical insurance irrespective of your age.
                        </li>
            
                        <li>
                            If you have to keep a certain amount of finances as back-up keep it in a bank as an RD or FD. 
                            The money may not grow much but the principal amount will stay safe and intact.
                        </li>
            
                        <li>
                            In case of high risk investments like in those of shares, invest in index funds rather than 
                            actively managed funds. ‘Index’ are the top 30 companies of the market and investments 
                            there have less chances to go wrong.
                        </li>
                    
                    </ol>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    So folks, we hope we atleast could give you a direction to your thought process. It’s a continuous 
                    process and as said initially there exists no pill for it so start somewhere, keep going and a secure 
                    future awaits you all!
                </p>
            </div>
        </div>

    </section>

    <!-- ===============Hall of Fame================== -->
    <section> 
        <div class="row">
            <div class="col-xs-12"><h2>The spirit of e-Yantra/e-Yantriks (HALL OF FAME)</h2></div>
        </div>

        <div class="clearfix row">
            <div class="col-xd-12">
                <div class="hallOfFame">
                    <img src="{% static 'img/HeetheshHallOfFame.jpg' %}">
                    <h4>Heethesh Vhavle</h4>
                    <h4>eYSIP 2017 Intern, 
                        <br>eYRC 2014 and 2016 (1st Place), 
                        <br>eYRC 2015 (3rd Place)
                    </h4>
                </div>
                <p>
                    <blockquote>
                        “I recently graduated with a Master’s degree in Robotic Systems from Carnegie Mellon 
                        University and I’m currently working on solving perception and SLAM problems for 
                        self-driving vehicles in the Bay Area. These are some of the core problems in robotics 
                        to solve to enable future AR/VR, home robotics, and autonomous vehicle technologies. 
                        I'm extremely grateful to have been introduced to e-Yantra right from the start of my 
                        first semester as an undergraduate student, which exposed me to robotics and computer 
                        vision. I strongly believe that my experience and learning from e-Yantra played a major 
                        role in shaping my career path. I still remember the times when I was excited to work on 
                        every new task that was released in eYRC. I highly appreciate all of the e-Yantra 
                        initiatives led by the team and hope it continues to grow and inspire more students 
                        over the years to come!”
                    </blockquote>
                </p>
            </div>
                        
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <p>
                    A record-setting three-time winner at the prestigious e-Yantra Robotics Competition, 
                    Heetesh Vhavle is an epitome of a truly passionate individual.
                </p>
            </div>
        </div>        
        
    </section>

    <!-- ====================Literature section============================= -->
    <section id="literature"> 
        <div class="row">
            <div class="col-xs-12"><h2>Literature Section</h2></div>
        </div>
        <div class="row">
            <div class="col-xs-12"><h2>BOOK/MOVIE REVIEW:</h2></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Akutagawa Ryūnosuke was one of the first prewar Japanese writers to achieve a wide foreign readership, 
                    partly because of his technical virtuosity, partly because his work seemed to represent imaginative 
                    fiction as opposed to the mundane accounts of the I-novelists of the time, partly because of his 
                    brilliant joining of traditional material to a modern sensibility, and partly because of film director 
                    Kurosawa Akira's masterful adaptation of two of his short stories for the screen.
                </p>
            
                <p>
                    “In a Grove” is an early modernist short story by Ryūnosuke Akutagawa which first appeared in the 
                    January 1922 edition of Japanese literature monthly “Shincho”. The story starts off as a murder mystery, 
                    the murder of a samurai, Takehiro, whose dead body is found in the bamboo groves near Kyoto. The story has 
                    three main characters, the samurai Takehiro, the samurai’s wife Masago, and a notorious bandit Tajomaru. 
                    The Samurai’s murder is reported by a woodcutter that triggers the investigation. The story is the form of 
                    testimonies of people involved. Throughout the story, when the readers were busy inspecting the details to 
                    find the murderer, with no proper explanation of the deed, the author subtly answers the question. 
                    But should that even be the question? What is the underlying message of the story? Without giving away 
                    much we recommend you to devour this classic masterpiece of a short story which is not more than a 
                    20 minutes read and find the answer or rather the correct question yourself!
                </p>        
            </div>
            <div class="col-md-6">
                <div class="book-review">
                    <img src="{% static 'img/in-a-grove-design-1.png' %}">
                </div>
                <p>
                    The biggest, most important beast to come out of Japanese cinema was Rashomon, a 1950 drama set in the 
                    samurai era. It’s a 1950 Jidaigeki psychological thriller/crime film directed by Akira Kurosawa, working 
                    in close collaboration with cinematographer Kazuo Miyagawa. <br>
                    Adapted from the story of ‘In a Grove’ with few minor tweaks here and there, the plot of the movie 
                    goes back to the 8th century and takes place in Rashomon, the gate of Kyoto, the then imperial city, 
                    ruined by warfare. This movie ingeniously enacts the complexities of human nature by exploring the 
                    story from different narratives. By adding a narrative of the woodcutter, we get a gist of how everyone 
                    wants to be portrayed in a positive light! But now, the question arises, was the woodcutter telling the 
                    truth? Kurosawa once said, “Rashomon is a reflection of life and that life does not have a clear 
                    meaning!” Its brilliant cinematography and multiple-perspective storytelling are what make this movie 
                    truly a masterpiece! Rife with symbolism and rich in action, this movie definitely leaves ‘food for 
                    thought’ for the audience. 
            
                </p>
            </div>
        </div>
    </section>
</div>

{% endblock %}